/* Breadcrumb */
.breadcrumb {
    background: transparent;
    padding: 20px 0;
}

.breadcrumb a {
    font-family: "Nunito Sans", sans-serif;
    margin-right: 10px;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}
.breadcrumb a i{
    font-size:12px;
    padding-left:5px;
}

.breadcrumb span {
    color: #333;
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    text-transform: lowercase;
}

.breadcrumb span:first-letter {
    text-transform: uppercase;
}

/* Features and Description */
.description-area {
    position: relative;
    margin-bottom: 50px;
}

.description-area .description:before {
    content: '';
    display: block;
    width: 200px;
    height: 5px;
    background: #0094d6;
    position: relative;
    top: -5px;
}

.description-area .description h3 {
    font-size: 24px;
    color: #0094d6;
    font-family: "Nunito Sans",sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}

.description-area .features {
    background: #0094d6;
    color: #FFF;
    box-shadow: 1px 1px 5px 0px rgba(112, 112, 112, 1);
    padding-bottom: 24px;
}

.description-area .features h2 {
    color: #FFF;
    font-family: "Nunito Sans", sans-serif;
    margin: 24px 10px;
    font-size: 30px;
}

.description-area .features ul {
    padding: 0 5px;
    list-style: none;
}

.description-area .features ul li i {
    border-bottom: 2px solid;
    padding-bottom: 6px;
    margin-right: 5px;
    font-size: 18px;
    position: absolute;
    left: 0;
    top: 5px;
}

.description-area .features ul li {
    font-size: 18px;
    font-weight: normal;
    font-family: "Nunito Sans", sans-serif;
    text-transform: initial;
    padding-bottom: 10px;
    padding-left: 30px;
    position: relative;
}
@media screen and (max-width: 767px) {
    .description-area {
        margin-bottom: 0px;
    }
    .description-area .description {
        margin-bottom: 50px;
    }
    .how-to .description {
        margin-bottom: 0px;
    }
    .description-area .features ul li {
        line-height: 32px;
    }
}
/* Video */
.video {
    position: absolute;
    top: 185px;
    left: 0;
    right: 0;
}

.video-area {
    position: relative;
    min-height: 850px;
}

.video-area .video-title {
    background: #333231;
    min-height: 600px;
}

.video-area .small-text {
    font-size: 14px;
    color: #0094d6;
    font-family: "Nunito Sans",sans-serif;
    font-weight: bold;
    /*padding: 20px 0;*/
    padding: 65px 0 0px 0px;
}

.video-area .video-title h2 {
    color: #FFF;
    font-family: "Nunito Sans",sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    padding: 0;
    padding-top: 15px;
    margin: 0 0 25px 0;
   
}

.video-area .video-description {
    background: #f2f2f2;
    margin-top: 50px;
    padding: 10px 15px 60px;
}
@media screen and (min-width:992px ) and (max-width:1355px) {
    .video-area .video-title h2 {
        color: #FFF;
        font-family: "Nunito Sans",sans-serif;
        font-weight: bold;
        font-size: 27px;
        margin: 0 0 25px 0;
        padding: 0;
    }
}
@media screen and (max-width: 992px) {
    .video {
        position: relative;
        top: 0;
        margin-top: 15px;
    }

    .video-area {
        position: relative;
        min-height: auto;
        margin-bottom: 50px;
    }

    .video-area .video-title {
        min-height: auto;
    }

    .video-area .video-description {
        margin: 0;
        padding-bottom: 10px;
    }
}
@media screen and (max-width: 767px) {
    .video-area {
        margin-bottom: 0px;
    }
    .description-area .description h3 {
        font-size: 18px;
    }
    .video-area .video-title h2 {
        font-size: 24px;
    }
}
/*-- video YT ------------------------------------*/
.embed-area {
    max-width: 1084px;
    margin: auto;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin-bottom: 50px;
}

.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*-- video YT ------------------------------------*/
/* How To */
.how-to .description {
    margin-top: 50px;
}

.description-area .description h2 {
    color: #0094d6;
    font-family: "Nunito Sans",sans-serif;
    font-weight: bold;
    margin: 15px 0 20px 0;
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
}

.description-area .description h2:first-letter {
    text-transform: uppercase;
}

.how-to .how-to-list {
    background: #f2f2f2;
    color: #333;
    padding: 20px 25px;
}

.single-how .icon {
    display: inline-block;
    padding: 25px 30px;
    background: #0094d6;
}

.single-how .icon img {
    max-height: 70px;
}

.single-how .textual {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}

@media screen and (max-width: 1450px) {
    .single-how .textual {
        margin-left: 20px;
    }
}

@media screen and (max-width: 1330px) {
    .single-how .textual {
        margin-left: 30px;
    }
}

.single-how .textual .title {
    font-family: "Nunito Sans", sans-serif;
    font-weight: bold;
    text-transform: lowercase;
    font-size: 19px;
    color: #0094d6;
}

.single-how .textual .title:first-letter {
    text-transform: uppercase;
}

.single-how .textual .text {
    font-family: "Nunito Sans", sans-serif;
    font-weight: lighter;
    font-size: 15px;
}

.single-how {
    padding-bottom: 20px;
}

.how-to .how-to-list > .single-how:last-child {
    padding-bottom: 0;
}

@media screen and (max-width: 1082px) {
    .single-how .icon {
        display: inline-block;
        padding: 20px 25px;
        background: #0094d6;
    }

    .how-to .how-to-list > .single-how > div:first-child {
        padding: 0;
    }
}

@media screen and (max-width: 767px) {
    .single-how .icon {
        margin-bottom: 20px;
    }

    .how-to .how-to-list {
        padding: 20px 15px;
    }

    .single-how .textual {
        margin-left: 0px;
    }

    .how-to .how-to-list > .single-how > div {
        padding: 0px;
    }
    .description-area .description h2 {
        font-size: 24px;
        line-height: 30px;
    }
}

/* Back and Gray Schema */
.black-gray-schema {
    position: relative;
    padding: 0;
    margin-top: 50px;
}

.black-gray-schema .icon {
    position: absolute;
    background: #0094d6;
    right: -15px;
    top: -30%;
    padding: 15px 20px;
}

.black-gray-schema .icon img {
    max-height: 80px;
}

.black-gray-schema .title h2 {
    color: #FFF;
    font-family: "Nunito Sans",sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: 25px;
    padding-bottom: 50px;
}

.black-gray-schema .text {
    background: #f2f2f2;
    position: relative;
    top: -50px;
    left: 75px;
    padding: 5px 30px 15px;
}
.black-gray-schema .text p{
    max-width: 90%;
}

.black-gray-schema .title {
    background: #333;
    position: relative;
}

@media screen and (max-width: 767px) {
    .black-gray-schema .text {
        top: 0;
        left: 0;
        margin-bottom: 100px;
        padding: 5px 15px 15px;
        margin-bottom: 50px;
    }
    .black-gray-schema .text p{
        max-width: 100%;
    }

    .black-gray-schema .icon {
        position: absolute;
        background: #0094d6;
        right: 0;
        top: -50%;
        padding: 15px 20px;
    }
    .black-gray-schema .title h2 {
        font-size: 24px;
        padding-bottom: 10px;
    }
}

/* Product Header Info */
.product-header-info {
    margin-bottom: 50px;
}

.product-header-info > .item {
    display: none;
    padding-bottom: 0;
}

.product-header-info > .item.active {
    display: block;
}



.product-header-info .thumbs {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -75px;
}

.product-header-info .thumbs img {
    max-width: 65px;
    margin: 10px 0;
    border: 1px solid #5bcafc;
    opacity: 0.4;
    cursor: pointer;
}

.product-header-info .thumbs img.active {
    opacity: 1;
}

.product-header-info .item .content h1 {
    font-size: 25px;
    color: #636466;
    line-height: 30px;
    text-transform: uppercase;
    font-family: "Nunito Sans",sans-serif;
    margin-bottom: 5px;
}

.product-header-info .item .content h1:first-letter {
    text-transform: uppercase;
}

.product-header-info h5 {
    font-size: 14px;
    margin: 0 0 0px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: lighter;
    font-style: italic;
    padding-bottom: 10px;
    color:#636466;
}

.product-header-info .item .content ul li:before {
    display: none;
}

.product-header-info .item .content ul {
    padding: 20px 0;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 0;
}

.product-header-info .item .content ul li {
    line-height: 20px;
}

.product-header-info .item .content ul li .label {
    color: #5bcafc;
    font-size: 14px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: normal;
    padding: 0;
}

.product-header-info .item .content ul li .value {
    color: #636466;
    font-size: 14px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: normal;
}

.product-header-info .icon-category {
    position: absolute;
    background: #0094d6;
    padding: 15px 15px;
    top: -40px;
    left: -35px;
    z-index: 3;
    display: inline-block;
}

.product-header-info .icon-category img {
    max-height: 50px;
}

.product-header-info .icon-category:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -10px;
    height: 5px;
    background: #5bcafc;
    width: 100%;
    left: 0;
}

.product-header-info .icon-category.washing:after {
    background:#2bbafa;
}
.product-header-info .icon-category.cooking:after {
    background:#e53f30;
} 
.product-header-info .icon-category.cooling:after {
    background:#0071ce;
} 
.product-header-info .icon-category.vacuuming:after {
    background:#f3c300;
} 
.product-header-info .icon-category.ironing:after {
    background:#e8004d;
} 
.product-header-info .icon-category.coffee:after {
    background:#944f11;
} 

.product-header-info .icon-amazon-sale {
    position: absolute;
    background: #f8981c;
    padding: 20px 25px;
    right: -50px;
    top: -65px;
}

.product-header-info .icon-amazon-sale img {
    max-height: 50px;
}

.product-header-info .item .content {
    margin-left: 35%;
    margin-bottom: 20px;
    margin-right: 35px;
}

.product-header-info .item .box-bottom {
    padding: 10px 0;
    border-bottom: 1px solid #f2f2f2;
}

.product-header-info .item .box-bottom a {
    text-transform: uppercase;
    
}
.product-header-info .item .box-bottom a i {
    padding-left: 5px;
    transition: all cubic-bezier(0, 0.18, 0.58, 1) 0.2s;
}
.product-header-info .item .box-bottom a:hover i {
    padding-left: 10px;
}

.product-header-info .item .cta-amazon {
    margin-top: 20px;
}
.product-header-info .item .cta-amazon a{
    max-width:40%;
    font-weight:600;
}
.product-header-info .item .cta-amazon:nth-child(odd){
    margin-top:15px;
}

.product-header-info .changeVariant {
    width: 100%;
    min-height: 35px;
    border: 1px solid #5bcafc;
    padding: 0 10px;
}

.product-header-info .variant-area {
    padding: 10px 0 20px 0;
    border-top: 1px solid #f2f2f2;
}

.product-header-info .variant-area .lbl-variant {
    font-size: 14px;
    font-family: 'Nunito Sans', sans-serif;
    color: #5bcafc;
}

.product-header-info .bg-category:before {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    top: 0;
    left: 0;
}

.product-header-info .bg-category {
    position: relative;
    padding: 50px;
}

.product-header-info .bg-category img {
    position: relative;
}

.product-header-info .thumbs .bg-category {
    padding: 0;
}

.product-header-info .icon-category img {
    width: 100%;
    max-width: 40px;
}

.product-header-info .bg-category.ext {
    background-repeat: no-repeat;
    background-size: cover;
}

.product-header-info .bg-category.ext .year-prod-logo img {
    max-width: 90px;
}

.product-header-info .bg-category.ext .year-prod-logo {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

@media screen and (min-width: 992px) and (max-width: 1124px) {
    .product-header-info .icon-category {
        left: -20px
    }

    .product-header-info .item .content {
        margin-left: 45%;
    }

    .ctn-carousel .ctn-carousel-img {
        left: 75px;
    }
}

@media screen and (max-width: 992px) {
    .product-header-info .item .content h2 {
        font-size: 24px;
        margin-top: 20px;
    }
}

@media screen and (max-width: 768px) {
    .product-header-info .icon-amazon-sale {
        right: -25px;
    }

    .product-header-info .icon-category {
        left: -5px;
    }

    .product-header-info .bg-category.ext {
        max-width: 90%;
    }

    .ctn-carousel .product-header-info .ctn-carousel-img {
        left: 75px;
    }
}

@media screen and (max-width: 767px) {
    .ctn-carousel .product-header-info .item {
        margin-top: 80%;
        padding-bottom: 15px;
        padding-left: 0;
    }
    .product-header-info .item .cta-amazon a {
        max-width: 70%;
    }
    .product-header-info .item .content {
        margin-left: 15px;
        margin-right: 15px;
        max-width: 100%;
        margin-bottom: 10;
    }

    .product-header-info .thumbs {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
        max-width: 100%;
        margin-top: 100px;
    }

    .product-header-info .thumbs img {
        max-width: 75px;
        margin: 0 0px;
        border: 1px solid #5bcafc;
        opacity: 0.4;
        display: inline-block;
        padding: 0px !important;
    }

    .product-header-info .icon-amazon-sale {
        right: -20px
    }

    .product-header-info .icon-category {
        top: 10px;
        left: 15px;
        display: none;
    }

    .product-header-info .bg-category.ext {
        max-width: 90%;
        margin: auto;
        top:25px;
    }

    .product-header-info .thumbs .bg-category {
        display: inline-block;
        margin: 0 2px;
    }

    .ctn-carousel .product-header-info .ctn-carousel-img {
        left: 0;
        top: 20%;
    }
    .product-header-info {
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 560px) {
    .product-header-info .icon-category {
        display: none;
    }

    .product-header-info .item .content {
        margin-top: 25%;
    }

    .product-header-info .item .content h2 {
        font-size: 20px;
        line-height: 26px;
    }

    .product-header-info .icon-amazon-sale img {
        max-height: 25px;
    }

    .product-header-info .icon-amazon-sale {
        z-index: 2;
        top: -20px;
        padding: 10px 15px;
    }

    .product-header-info .thumbs {
        margin-top: 60px;
        top: 15px;
    }

    .product-header-info .thumbs .bg-category {
        display: inline-block;
        margin: 0 2px;
    }

    .product-header-info .thumbs img {
        max-width: 50px;
    }
    .ctn-carousel .product-header-info .item {
        margin-top: 88%;
    }
}

/* Filtri cappa */
.cooker-hood-filter .bg-black {
    background: #333;
    padding: 15px 5px;
    margin: 0 15px;
    margin-bottom: 25px;
    max-width: 92%;
    max-width: calc(100% - 30px);
}

.cooker-hood-filter .lbl-title, .cooker-hood-filter h3 {
    color: #FFF;
    font-size: 17px;
    font-family: 'Nunito Sans', sans-serif;
    margin: 10px 0 0 0;
    font-weight: 500;
    color: #0094d6;
}

.cooker-hood-filter p {
    margin: 0 0 20px 0;
    color: #fff;
    font-size: 14px;
}

.cooker-hood-filter select {
    margin-top: 10px;
    height: 35px;
    width: 100%;
    border: 1px solid #0094d6;
}

@-moz-document url-prefix() {
    .product-header-info .icon-category img{
        width:40px;
        height:40px;
    }
}



/* Related Prod */
.related_prod .post-thumbnail {
    background-size: cover;
    position: relative;
}

.related_prod .post-thumbnail:before {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    top: 0;
    left: 0;
}

.related_prod .product-preview .cta-content .single-cta {
    margin: 0;
    padding: 0;
    padding-bottom: 15px;
}
.related_prod {
    padding: 0 25px;
}
.related_prod .product-preview .cta-content {
    margin-bottom: 50px;
}

.related_prod .product-preview .post-thumbnail img {
    position: relative;
}

.related-container {
    background: #f2f2f2;
    margin-bottom: 50px;
    margin-top: 100px;
}

.related-container .title-related > div {
    background: #333333;
    position: relative;
    top: -75px;
}

.related-container .title-related > div h2 {
    color: #0094d6;
    font-family: "Nunito Sans",sans-serif;
    font-weight: bold;
    margin-top: 25px;
    padding: 20px 0;
    font-size: 30px;
}